<!doctype html>
<html lang="<%= site.locale %>" class="scroll-smooth">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4BZX8MB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%#= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>

    <main>
      <%#= yield %>
      <%#= render "hero", data: site.data.content %>
      <%#= render "nav", data: site.data.content %>
      <%= render "header-alt", data: site.data.content %>
      <%#= render "header", data: site.data.content %>
      <%= render "projects", data: site.data.content %>
      <%= render "services", data: site.data.content %>
      <%= render "testimonials", data: site.data.content %>
      <%= render "about", data: site.data.content %>
    </main>

    <%= render "footer", data: site.data.content %>
  </body>
</html>
