<div id="projects" class="bg-white px-6 pt-24 pb-12 sm:pt-32 sm:pb-16 lg:px-8 dark:bg-gray-900">
  <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-300">
    <p class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-400"><%= data.projects.section_label %></p>
    <h2 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl dark:text-white"><%= data.projects.section_title %></h2>
    <p class="mt-6 text-xl/8"><%= data.projects.section_description %></p>

    <div class="mt-12 space-y-16 border-t border-gray-200 pt-12 sm:mt-12 sm:pt-12 dark:border-gray-700">
      <% data.projects.list.each do |project| %>
        <%= render "project", data: project %>
      <% end %>
    </div>
    <div class="border-t border-gray-200 mt-10 sm:mt-16 dark:border-gray-700"></div>
  </div>

</div>

<div class="bg-white px-6 pt-12 pb-12 sm:pt-16 sm:pb-16 lg:px-8 dark:bg-gray-900">
  <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-300">
    <p class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-400"><%= data.beyond_client_work.section_label %></p>
    <h2 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl dark:text-white"><%= data.beyond_client_work.section_title %></h2>
    <p class="mt-6 text-xl/8"><%= data.beyond_client_work.section_description %></p>

    <div class="mt-12 space-y-16 border-t border-gray-200 pt-12 sm:mt-12 sm:pt-12 dark:border-gray-700">
      <% data.beyond_client_work.projects.each do |project| %>
        <%= render "project", data: project %>
      <% end %>
    </div>
    <div class="border-t border-gray-200 mt-10 sm:mt-16 dark:border-gray-700"></div>
  </div>
</div>
